<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button onclick="history.back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/home'">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Post Details</ion-title>
    <ion-buttons slot="end" *ngIf="tokenOn">
      <ion-button (click)="showUserMenu()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="postData != {} && thisPostID != undefined">
    <ion-grid fixed="true">
      <ion-row><ion-col>
        <ion-item>     
          <ion-avatar slot="start">
            <ion-img src="{{postData.userPic}}"></ion-img>
          </ion-avatar>
          <ion-label expandable="true" class="ion-text-wrap">
            <h4>{{postData.userName}}</h4>
            <p *ngIf="postData.createdAt == postData.updatedAt">สร้างเมื่อ&nbsp;{{postData.createdAt}}&nbsp;</p>
            <p *ngIf="postData.createdAt != postData.updatedAt">สร้างเมื่อ&nbsp;{{postData.createdAt}}&nbsp;(แก้ไข&nbsp;{{postData.updatedAt}})&nbsp;</p>
          </ion-label>
      
          <ion-buttons slot="end">
            <ion-button *ngIf="(postData.userId == u_detail._id) && (u_detail.username == currentUser)" 
                        (click)="postMenu(postData._id,postData)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item></ion-col>
      </ion-row>
          
          <ion-row class="ion-align-items-center">
            <ion-item *ngIf="postData.pics == undefined && postData.requirePurchase == true">
              <ion-label color="warning"><h6 >*เจ้าของได้ตั้งขายผลงานในโพสต์นี้ ต้องซื้อก่อน จึงจะสามารถรับชมผลงานได้</h6></ion-label>
              <ion-button (click)="buyPost(postData)">ซื้อโพสต์</ion-button>
            </ion-item>

            <ion-text *ngIf="postData.pics == undefined && postData.requireSub == true" color="warning">
              <h6>*ต้องสมัครติดตามผลงานผู้สร้าง(subscribe) ก่อน จึงจะสามารถรับชมผลงานได้</h6>
            </ion-text>
            
            <ion-img *ngFor="let picture of postData.pics" [src]="picture.url" onContextMenu="return false;"></ion-img>
          </ion-row>
    
          <ion-row>
            <ion-text><h2>{{postData.text}}</h2></ion-text>
          </ion-row>
          <ion-row>
            <ion-text>แท็ก:&nbsp;</ion-text>
            <ion-chip *ngFor="let tagName of postData.tags" (click)="goToCategory(tagName)">
              {{tagName}}
            </ion-chip>
          </ion-row>
          <ion-row *ngIf="currentUser != undefined">
            <ion-buttons>
              <ion-button (click)="likeThisPost(postData)">
                <ion-icon name="heart-outline" *ngIf="postData.thisUserLike != true"></ion-icon>
                <ion-icon name="heart" *ngIf="postData.thisUserLike == true"></ion-icon>
              </ion-button>
            </ion-buttons>
    
            <ion-item>
              <ion-label>Like:</ion-label>
              <ion-badge slot="end">{{postData.likeCount}}</ion-badge>
            </ion-item>
          </ion-row>
          <ion-text></ion-text>
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
            <app-comment-single-post [post_id]="thisPostID"></app-comment-single-post>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-card>

</ion-content>
