<ion-header>
  <ion-toolbar>
    <ion-title>แก้ไข Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-label>ราคาของ Plan นี้</ion-label>
      <ion-range slot="end" min="25" max="1000" [(ngModel)]="price" [pin]="true">
        <ion-item slot="end">
        <ion-input type="number" min="25" max="1000" [(ngModel)]="price"></ion-input>
        <ion-label> บาท</ion-label>
        </ion-item>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-text>ระยะเวลาของ Plan</ion-text>
      <ion-range slot="end" min="1" max="24" step="1" snaps="true" [(ngModel)]="time" [pin]="true">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-item slot="end">
          <ion-input type="number" min="1" max="30" [(ngModel)]="time"></ion-input>
          <ion-text>:</ion-text>
          <ion-select placeholder="หน่วยเวลา" [(ngModel)]="time_type">
            <ion-select-option value="month">เดือน</ion-select-option>
            <ion-select-option value="day">วัน</ion-select-option>
          </ion-select>
          </ion-item>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>เลือกบัญชีที่ใช้ในการรับเงินเข้า</ion-label>
      <ion-select [(ngModel)]="omise_resp_id">
        <ion-select-option *ngFor="let recipient of recipt_list" value="{{recipient.id}}">
            {{recipient.bank_account.bank_code}}:&nbsp;{{recipient.bank_account.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-button fill="outline" color="warning" (click)="cancelCreate()" id="cancel_btn">CANCEL</ion-button>
  <ion-button (click)="onSubmit(plan._id)" id="update_plan_btn">แก้ไข Plan</ion-button>

</ion-content>
