<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button onclick="history.back()"></ion-back-button>
    </ion-buttons>
    <ion-title>account-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)='checkThisUserDetail()'>show this user detail</ion-button>
  <ion-button (click)='checkUser()'>show user logging data</ion-button>
    <ion-card>
      <ion-card-content>
        <ion-avatar>
          <ion-img src="{{usr_acc.profile_pic}}"></ion-img>
        </ion-avatar>
      </ion-card-content>
      <ion-card-title>
          {{usr_acc.username}}
      </ion-card-title>

        <ion-card-subtitle *ngIf=" usr_acc.firstname != undefined">
          <ion-text>{{usr_acc.firstname}}</ion-text>
        </ion-card-subtitle>
    </ion-card>

    <div *ngIf=" usr_acc.password != undefined">
      <ion-button [routerLink]="'/account-edit'" shape="round" expand="block" >edit profile</ion-button>
      <ion-button color="warning" (click)='userLogout()' shape="round" expand="block">logout</ion-button>
      <ion-button color="danger" (click)='deleteAccount()' shape="round" expand="block">delete this account</ion-button>
    </div>
</ion-content>
