<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/home'">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>account-detail</ion-title>
    <ion-buttons slot="end" *ngIf=" currentUserLogin != undefined">
      <ion-button (click)="showUserMenu()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-avatar>
        <ion-img src="{{usr_acc.profile_pic}}"></ion-img>
      </ion-avatar>
    </ion-card-content>
    <ion-item>
    <ion-card-title>
      {{usr_acc.username}}
    </ion-card-title>

    <ion-buttons *ngIf="(usr_acc.password == undefined) && (token != undefined)" slot="end">
      <ion-button *ngIf="!(subbed)" color="secondary" (click)="followToThisUserToggle()">
        follow
        <ion-icon name="enter-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="subbed" color="secondary" (click)="followToThisUserToggle()">
        followed
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="showSubscriptMenu()">
        Subscription
      </ion-button>
    </ion-buttons> 

  </ion-item>

    <ion-card-subtitle *ngIf=" usr_acc.firstname != undefined">
      <ion-text>{{usr_acc.firstname}}</ion-text>
    </ion-card-subtitle>
  </ion-card>

  <ion-text *ngIf="usr_acc.followerCount != undefined"><h5>จำนวนผู้ติดตามบัญชีนี้: {{usr_acc.followerCount}}</h5></ion-text>
    <ion-text slot="end">Hello</ion-text>

    <!-- <ion-grid *ngIf=" usr_acc.password != undefined">
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="'/account-edit'" shape="round" expand="block" id="edit_profile_btn">แก้ไขโปรไฟล์</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="warning" (click)='userLogout()' shape="round" expand="block" id="logout_btn">ออกจากระบบ</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)='deleteAccount()' shape="round" expand="block" id="delete_acc_btn">ลบบัญชีนี้ทิ้ง</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)='clearAllPost()' shape="round" expand="block">ลบโพสต์ทั้งหมด</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  
    <ion-card>
      <app-post-view *ngIf="usr_acc._id != undefined"></app-post-view>
    </ion-card>
      
      
</ion-content>
