<ion-title color="secondary">โพสต์ล่าสุดในช่วงเวลาที่ผ่านมา</ion-title>

<div id="container" *ngIf="postList == []"></div>
<ion-list>
  <ion-item *ngFor="let post of postList">

    <ion-grid>
      <ion-row>        
          <ion-avatar>
            <ion-img src="{{post.userPic}}"></ion-img>
          </ion-avatar>
          <ion-text>
            <h3>&nbsp;<a routerLink="/account-detail/{{post.userName}}">{{post.userName}}</a></h3>
          </ion-text>
      </ion-row>
      <br>
      <ion-row>
        <ion-text>{{post.createdAt}}</ion-text>
        <!-- <ion-item *ngIf="(post.userId == u_detail._id) && (u_detail.username == currentUser)"> -->
        <ion-item *ngIf="(post.userId == CurrentSessionId) && (post.userName == currentUser)">
          <ion-buttons (click)="postMenu(post._id,post)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-buttons>
        </ion-item>
      </ion-row>
      
      <ion-row>
        <ion-img *ngFor="let picture of post.pics" [src]="picture"></ion-img>
      </ion-row>

      <ion-row>
        <ion-text><h4>{{post.text}}</h4></ion-text>
      </ion-row>
      <ion-row>
        <ion-text>แท็ก:&nbsp;</ion-text>
        <ion-chip *ngFor="let tagName of post.tags_Nlist">
          {{tagName}}
        </ion-chip>
      </ion-row>
      <ion-row *ngIf="currentUser != undefined">
        <ion-buttons (click)="likeThisPost(post)">
          <ion-icon name="heart-outline" *ngIf="post.thisUserLike != true"></ion-icon>
          <ion-icon name="heart" *ngIf="post.thisUserLike == true"></ion-icon>
        </ion-buttons>
        <ion-item>
          <ion-label>Like on this Post</ion-label>
          <ion-badge slot="end">{{post.likeCount}}</ion-badge>
        </ion-item>
      </ion-row>
      <!-- <ion-row class="ion-align-items-center">
        <ion-col size="10">
        <app-comment-post [post_id]="post._id"></app-comment-post>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-item>
</ion-list>

<ion-text color="warning" *ngIf="canloadMore == false">ต้องล็อกอินก่อนจึงจะเห็นโพสต์</ion-text>
