<ion-title color="secondary">โพสต์ล่าสุดในช่วงเวลาที่ผ่านมา</ion-title>

<div id="container" *ngIf="postList == []"></div>
<ion-list>
  <ion-item *ngFor="let post of postList">

    <ion-grid>
      <ion-row>        
          <ion-avatar>
            <ion-img src="{{post.userPic}}"></ion-img>
          </ion-avatar>
          <ion-text>
            <h3>&nbsp;<a routerLink="/account-detail/{{post.userName}}">{{post.userName}}</a></h3>
          </ion-text>
      </ion-row>
      <br>
      <ion-item>
        <ion-text *ngIf="post.createdAt == post.updatedAt">สร้างเมื่อ&nbsp;{{post.createdAt}}&nbsp;</ion-text>
        <ion-text *ngIf="post.createdAt != post.updatedAt">สร้างเมื่อ&nbsp;{{post.createdAt}}&nbsp;(แก้ไข&nbsp;{{post.updatedAt}})&nbsp;</ion-text>
        <!-- <ion-item *ngIf="(post.userId == u_detail._id) && (u_detail.username == currentUser)"> -->
          <ion-buttons slot="end" >
            <ion-button shape="round" color="secondary" fill="solid" (click)="goToOnlyPost(post._id)">
              ดูรายละเอียดโพสต์
            </ion-button>
            <ion-button (click)="postMenu(post._id,post)"
            *ngIf="(post.userId == CurrentSessionId) && (post.userName == currentUser)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-item>
      
      <ion-row>

        <ion-item *ngIf="post.pics == undefined && post.requirePurchase == true">
          <ion-label color="warning"><h6 >*เจ้าของได้ตั้งขายผลงานในโพสต์นี้ ต้องซื้อก่อน จึงจะสามารถรับชมผลงานได้</h6></ion-label>
          <ion-button (click)="buyPost(post)">ซื้อโพสต์</ion-button>
        </ion-item>

        <ion-text *ngIf="post.pics == undefined && post.requireSub == true" color="warning">
          <h6>*ต้องสมัครติดตามผลงานผู้สร้าง(subscribe) ก่อน จึงจะสามารถรับชมผลงานได้</h6>
        </ion-text>

        <ion-img *ngFor="let picture of post.pics" [src]="picture.url" onContextMenu="return false;"></ion-img>
      </ion-row>

      <ion-row>
        <ion-text><h4>{{post.text}}</h4></ion-text>
      </ion-row>
      <ion-row>
        <ion-text>แท็ก:&nbsp;</ion-text>
        <ion-chip *ngFor="let tagName of post.tags" (click)="goToCategory(tagName)">
          {{tagName}}
        </ion-chip>
      </ion-row>
      <ion-row *ngIf="currentUser != undefined">
        <ion-buttons>
          <ion-button (click)="likeThisPost(post)">
            <ion-icon name="heart-outline" *ngIf="post.thisUserLike != true"></ion-icon>
            <ion-icon name="heart" *ngIf="post.thisUserLike == true"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-item>
          <ion-label>Like on this Post</ion-label>
          <ion-badge slot="end">{{post.likeCount}}</ion-badge>
        </ion-item>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
        <app-comment-on-rnd-post [post_id]="post._id"></app-comment-on-rnd-post>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<ion-text color="warning" *ngIf="canloadMore == false">ต้องล็อกอินก่อนจึงจะเห็นโพสต์</ion-text>
