<ion-header>
  <ion-title color="primary">
    <h5>Payment manage</h5>
  </ion-title>
</ion-header>

<ion-list>
  <ion-item *ngIf="!activeAllow" [disabled]="activeAllow" button (click)="createOmiseAlert()">
    <ion-label>
      สร้าง account omise สำหรับการชำระเงิน
    </ion-label>
  </ion-item>
  <ion-item [disabled]="!activeAllow" button (click)="manageCard()">
    <ion-icon name="card" slot="start"></ion-icon>
    <ion-label>จัดการกับบัตรเครดิต</ion-label>
  </ion-item>
  <ion-item [disabled]="!activeAllow" button (click)="manageRecipt()">
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-label>จัดการกับบัญชีที่ใช้ในรับเงินเข้า</ion-label>
  </ion-item>
</ion-list>
