<ion-header>
  <ion-toolbar>
    <ion-title>add-recipient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>ชื่อผู้รับเงิน:</ion-label>
    <ion-input type="text" [(ngModel)]="reciptData.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>อีเมล์:</ion-label>
    <ion-item slot="end">
      <ion-label>อีเมล์เดียวกันกับบัญชี picxel</ion-label>
      <ion-checkbox [(ngModel)]="useDefaultEmail" (ionChange)="changeToDefEmail()">ใช้อีเมล์เดียวกันกับบัญชี</ion-checkbox>
    </ion-item>
    <ion-input [disabled]="useDefaultEmail" type="email" [(ngModel)]="reciptData.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>ประเภทบัญชี</ion-label>
    <ion-select slot="end" placeholder="เลือกประเภท" [(ngModel)]="reciptData.type">
      <ion-select-option value="individual">บัญชีส่วนบุคคล</ion-select-option>
      <ion-select-option value="corporation">บัญชีบริษัท/นิติบุคคล</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>ธนาคาร</ion-label>
    <ion-select slot="end" placeholder="เลือกธนาคาร" [(ngModel)]="reciptData.bank_account.brand">
      <ion-select-option *ngFor="let bank of bankList" value="{{bank.bankcode}}">{{bank.bankname}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>ชื่อบัญชี:</ion-label>
    <ion-input type="text" [(ngModel)]="reciptData.bank_account.name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>หมายเลขบัญชี:</ion-label>
    <ion-input placeholder="10 digit/10 หลัก" minlength="10" maxlength="10" type="text" [(ngModel)]="reciptData.bank_account.number"></ion-input>
  </ion-item>

  <ion-button [routerLink]="'/account-edit'">
    กลับหน้าเดิม
  </ion-button>
  <ion-button (click)="submit()">
    เพิ่มบัญชีในการรับเงิน
  </ion-button>

</ion-content>
