<ion-title color="secondary">โพสต์ล่าสุดจากโปรไฟล์นี้</ion-title>

<div id="container" *ngIf="postList == []"></div>
<ion-list>
  <ion-item *ngFor="let post of postList">

    <ion-grid>
      <ion-row>        
          <ion-avatar>
            <ion-img src="{{u_detail.profile_pic}}"></ion-img>
          </ion-avatar>
          <ion-text>
            <h4>&nbsp;{{u_detail.username}}</h4>
          </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>{{post.createdAt}}</ion-text>
        <ion-col *ngIf="(post.userId == u_detail._id) && (u_detail.username == currentUser)">
        <ion-buttons (click)="deletePost(post._id)" id="deletePostButton">
          <ion-icon name="close-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-img *ngFor="let picture of post.pics" [src]="picture"></ion-img>
      </ion-row>

      <ion-row>
        <ion-text><h2>{{post.text}}</h2></ion-text>
      </ion-row>
      <ion-row>
        <ion-chip *ngFor="let tagName of post.tags_Nlist">
          {{tagName}}
        </ion-chip>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<ion-button *ngIf="canloadMore == true" (click)="loadThisUsrMore()">โหลดโพสต์เพิ่มเติม</ion-button>
<ion-text color="warning" *ngIf="canloadMore == false">ไม่มีโพสต์เพิ่มเติมจากผู้ใช้นี้แล้ว</ion-text>

