<ion-title color="secondary">โพสต์ล่าสุดจากโปรไฟล์นี้</ion-title>


<ion-list *ngIf="postList != []">
  <ion-item *ngFor="let post of postList">

    <ion-grid>
      <ion-row>        
          <ion-avatar>
            <ion-img src="{{u_detail.profile_pic}}"></ion-img>
          </ion-avatar>
          <ion-text>
            <h4>&nbsp;{{u_detail.username}}</h4>
          </ion-text>
      </ion-row>
      <br>
      <ion-row>
        <ion-text *ngIf="post.createdAt == post.updatedAt">สร้างเมื่อ&nbsp;{{post.createdAt}}&nbsp;</ion-text>
        <ion-text *ngIf="post.createdAt != post.updatedAt">สร้างเมื่อ&nbsp;{{post.createdAt}}&nbsp;(แก้ไข&nbsp;{{post.updatedAt}})&nbsp;</ion-text>
        <!-- <ion-item *ngIf="(post.userId == u_detail._id) && (u_detail.username == currentUser)"> -->
          <!-- <ion-button id="trigger-button">Click to open popover</ion-button>
            <ion-popover trigger="trigger-button">
              <ng-template>
                <ion-content>Popover Content</ion-content>
                <ion-item lines="none" detail="false" button (click)="dismissPopover()">Close</ion-item>
              </ng-template>
            </ion-popover> -->
          <ion-buttons 
          *ngIf="(post.userId == u_detail._id) && (u_detail.username == currentUser)">
            <ion-button (click)="postMenu(post._id,post)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
        <!-- </ion-item> -->
      </ion-row>
      
      <ion-row class="ion-align-items-center">
        <ion-img *ngFor="let picture of post.pics" [src]="picture"></ion-img>
      </ion-row>

      <ion-row>
        <ion-text><h2>{{post.text}}</h2></ion-text>
      </ion-row>
      <ion-row>
        <ion-text>แท็ก:&nbsp;</ion-text>
        <ion-chip *ngFor="let tagName of post.tags">
          {{tagName}}
        </ion-chip>
      </ion-row>
      <ion-row *ngIf="currentUser != undefined">
        <ion-buttons>
          <ion-button (click)="likeThisPost(post)">
            <ion-icon name="heart-outline" *ngIf="post.thisUserLike != true"></ion-icon>
            <ion-icon name="heart" *ngIf="post.thisUserLike == true"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-item>
          <ion-label>Like:</ion-label>
          <ion-badge slot="end">{{post.likeCount}}</ion-badge>
        </ion-item>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
        <app-comment-post [post_id]="post._id"></app-comment-post>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<ion-button *ngIf="canloadMore == true" (click)="loadThisUsrMore()">โหลดโพสต์เพิ่มเติม</ion-button>
<ion-text color="warning" *ngIf="canloadMore == false">ไม่มีโพสต์เพิ่มเติมจากผู้ใช้นี้แล้ว</ion-text>

