<ion-title color="secondary">โพสต์ล่าสุดจากโปรไฟล์นี้</ion-title>


<ion-list *ngIf="postList != []">
  <ion-item *ngFor="let post of postList" >
    <ion-grid fixed="true">
      <ion-row><ion-col>
        <ion-item>     
          <ion-avatar slot="start">
            <ion-img src="{{u_detail.profile_pic}}"></ion-img>
          </ion-avatar>
          <ion-label expandable="true" class="ion-text-wrap">
            <h4>{{u_detail.username}}</h4>
            <p *ngIf="post.createdAt == post.updatedAt">สร้างเมื่อ&nbsp;{{post.createdAt}}&nbsp;</p>
            <p *ngIf="post.createdAt != post.updatedAt">สร้างเมื่อ&nbsp;{{post.createdAt}}&nbsp;(แก้ไข&nbsp;{{post.updatedAt}})&nbsp;</p>
          </ion-label>
      
          <ion-buttons slot="end">
            <ion-button shape="round" color="secondary" fill="solid" (click)="goToOnlyPost(post._id)">
              ดูรายละเอียดโพสต์
            </ion-button>
            <ion-button *ngIf="(post.userId == u_detail._id) && (u_detail.username == currentUser)" 
                        (click)="postMenu(post._id,post)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item></ion-col>
      </ion-row>
      
      <ion-row class="center-content">

      
        <ion-item *ngIf="post.pics == undefined && post.requirePurchase == true">
          <ion-note color="warning"><h6>*เจ้าของได้ตั้งขายผลงานในโพสต์นี้ ต้องซื้อก่อน จึงจะสามารถรับชมผลงานได้</h6></ion-note>
          <ion-button (click)="buyPost(post)" slot="end">ซื้อโพสต์</ion-button>
        </ion-item>
      

        <ion-text *ngIf="post.pics == undefined && post.requireSub == true" color="warning">
          <h6>*ต้องสมัครติดตามผลงานผู้สร้าง(subscribe) ก่อน จึงจะสามารถรับชมผลงานได้</h6>
        </ion-text>

        <ion-img *ngFor="let picture of post.pics" [src]="picture.url" 
        onContextMenu="return false;"></ion-img>
      
      </ion-row>

      <ion-row>
        <ion-text><h2>{{post.text}}</h2></ion-text>
      </ion-row>
      <ion-row>
        <ion-text>แท็ก:&nbsp;</ion-text>
        <ion-chip *ngFor="let tagName of post.tags" (click)="goToCategory(tagName)">
          {{tagName}}
        </ion-chip>
      </ion-row>
      <ion-row *ngIf="currentUser != undefined">
        <ion-buttons>
          <ion-button (click)="likeThisPost(post)">
            <ion-icon name="heart-outline" *ngIf="post.thisUserLike != true"></ion-icon>
            <ion-icon name="heart" *ngIf="post.thisUserLike == true"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-item>
          <ion-label>Like:</ion-label>
          <ion-badge slot="end">{{post.likeCount}}</ion-badge>
        </ion-item>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
        <app-comment-post [post_id]="post._id"></app-comment-post>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<!-- <ion-button *ngIf="canloadMore == true" (click)="loadThisUsrMore()">โหลดโพสต์เพิ่มเติม</ion-button> -->
<ion-infinite-scroll [disabled]="!(canloadMore)" (ionInfinite)="loadThisUsrMore()">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="โหลดโพสต์เพิ่มเติม">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
<ion-text color="warning" *ngIf="canloadMore == false">ไม่มีโพสต์เพิ่มเติมจากผู้ใช้นี้แล้ว</ion-text>

