<ion-header>
  <ion-toolbar>
    <ion-title color="primary">จัดการ plan</ion-title>
  
    <ion-button slot="end" (click)="goToCreatePlan()">สร้าง plan ใหม่</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header *ngIf="planList.length == 0">no plan created in your account</ion-list-header>
    <ion-item *ngFor="let plan of planList">
      <ion-label>
        ID:{{plan._id}}
        <p>สร้างเมื่อ {{plan.createdAt}}</p>
        <h4>ราคา {{plan.price}} บาท</h4>
        <h5>ระยะเวลา {{plan.every}}&nbsp;{{plan.period}}</h5>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="goToEditPlan(plan)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button (click)="deletePlan(plan)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>