<ion-header>
  <ion-toolbar>
    <ion-title>ยินดีต้อนรับสู่ PICXEL / Welcome to PICXEL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card class="card-container">
  <div>
    <ion-item>
      <ion-label position="floating">กรอกชื่อผู้ใช้</ion-label>
      <ion-input type="text" required [(ngModel)]="usr_name" id="username_input" (keyup.enter)="onSubmit()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">กรอกรหัสผ่าน</ion-label>
      <ion-input type="password" required [(ngModel)]="passwd" id="password_input" (keyup.enter)="onSubmit()"></ion-input>
    </ion-item>
  </div>
  <br>
  <div>
    <ion-button (click)="onSubmit()" id="login_btn" expand="block" shape="round">ลงชื่อเข้าใช้งาน</ion-button>
  </div>
  <br>
  <div>
      <ion-text>&nbsp;&nbsp;ยังไม่มีบัญชี?</ion-text>
      <ion-button fill="outline" [routerLink]="'/registration'" id="register_btn" expand="block" shape="round">ลงทะเบียน</ion-button>
  </div>
  <br>
  <div>
    <ion-text>
      &nbsp;&nbsp;ลืมรหัสผ่าน?
    </ion-text>
    <ion-button color="warning" [routerLink]="'/forgot-password'" id="forgot_passwd_btn" expand="block" shape="round">รีเซ็ตรหัสผ่าน</ion-button>
  </div>
  </ion-card>
</ion-content>
