<ion-header>
  <ion-toolbar>
    <ion-title color="primary">บริจาคเงินให้กับผู้สร้างคนนี้</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>บัตรเครดิตที่ใช้ชำระเงิน:</ion-label>
    <ion-select [(ngModel)]="selected_card" placeholder="เลือกบัตรเครดิต">
      <ion-select-option *ngFor="let card of user_card_list" value="{{card.id}}">
        * {{card.last_digits}},{{card.brand}}:{{card.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">กรอกจำนวนเงินที่ต้องการโดเนท(บาท)</ion-label>
    <ion-input [(ngModel)]="money_amount" type="number" min="30" max="1000" [required]="true" placeholder="รองรับการบริจาคขั้นต่ำ 30 บาทขึ้นไป"></ion-input>
  </ion-item>
  <ion-button (click)="onDonate()">
    Donate
  </ion-button>
  <ion-button (click)="DismissClick()" color="danger">
    cancel
  </ion-button>
</ion-content>