<div id="container" *ngIf="postList == []"></div>
<ion-list>
  <ion-item *ngFor="let post of postList">

    <ion-grid>
      <ion-row>        
          <ion-avatar>
            <ion-img src="{{post.userPic}}"></ion-img>
          </ion-avatar>
          <ion-text>
            <h3>&nbsp;<a routerLink="/account-detail/{{post.userName}}">{{post.userName}}</a></h3>
          </ion-text>
      </ion-row>
      <br>
      <ion-item>
        <ion-text *ngIf="post.createdAt == post.updatedAt">สร้างเมื่อ&nbsp;{{post.createdAt}}&nbsp;</ion-text>
        <ion-text *ngIf="post.createdAt != post.updatedAt">สร้างเมื่อ&nbsp;{{post.createdAt}}&nbsp;(แก้ไข&nbsp;{{post.updatedAt}})&nbsp;</ion-text>
        <!-- <ion-item *ngIf="(post.userId == u_detail._id) && (u_detail.username == currentUser)"> -->
          <ion-buttons *ngIf="(post.userId == CurrentSessionId) && (post.userName == currentUser)">
            <ion-button (click)="postMenu(post._id,post)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-item>
      
      <ion-row>
        <ion-img *ngFor="let picture of post.pics" [src]="picture"></ion-img>
      </ion-row>

      <ion-row>
        <ion-text><h4>{{post.text}}</h4></ion-text>
      </ion-row>
      <ion-row>
        <ion-text>แท็ก:&nbsp;</ion-text>
        <ion-chip *ngFor="let tagName of post.tags" (click)="goToCategory(tagName)">
          {{tagName}}
        </ion-chip>
      </ion-row>
      <ion-row *ngIf="currentUser != undefined">
        <ion-buttons>
          <ion-button (click)="likeThisPost(post)">
            <ion-icon name="heart-outline" *ngIf="post.thisUserLike != true"></ion-icon>
            <ion-icon name="heart" *ngIf="post.thisUserLike == true"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-item>
          <ion-label>Like on this Post</ion-label>
          <ion-badge slot="end">{{post.likeCount}}</ion-badge>
        </ion-item>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
        <app-comment-tag-post [post_id]="post._id"></app-comment-tag-post>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<ion-infinite-scroll [disabled]="!(canloadMore)" (ionInfinite)="loadThisTagMore()">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="โหลดโพสต์เพิ่มเติม">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
