<ion-content>

  <ion-text *ngIf="(!CreatorStatus)" color="warning">
    <h4>User ได้ทำการ ยกเลิกสถานะ Creator ไปแล้ว ทำให้ไม่สามารถ subscription ได้</h4>
  </ion-text>

  <ion-text *ngIf="userSub != {}" color="warning">
    <p>ไม่สามารถ subscription ได้ เนื่องจากยังมี การ subscription เดิมอยู่</p>
  </ion-text>

  <ion-list>
    <ion-list-header>subscribe plan</ion-list-header>
    <ion-item *ngFor="let plan of planList">
      <ion-label>
        ID:{{plan._id}}
        <h4>ราคา {{plan.price}} บาท</h4>
        <h5>ระยะเวลา {{plan.every}}&nbsp;{{plan.period}}</h5>
        <h6 *ngIf="plan._id == userSub.planId">Exp:{{userSub.endDate}}</h6>
      </ion-label>
      <ion-buttons slot="end" >
        <ion-button *ngIf="plan._id != userSub.planId && userSub.active != false && CreatorStatus" 
                    (click)="subscribeToPlan(plan)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button *ngIf="plan._id == userSub.planId && userSub.active != false" (click)="unSubscribe()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button *ngIf="plan._id == userSub.planId && userSub.active == false">
          <ion-icon name="alert-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item> 
  </ion-list>

</ion-content>
