<ion-content>
  <ion-list>
    <ion-list-header>subscribe work</ion-list-header>
    <ion-item *ngFor="let plan of planList">
      <ion-label>
        ID:{{plan._id}}
        <h4>ราคา {{plan.price}} บาท</h4>
        <h5>ระยะเวลา {{plan.every}}&nbsp;{{plan.period}}</h5>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button *ngIf="plan._id != userSub.planId || userSub.active == false" (click)="subscribeToPlan(plan)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button *ngIf="plan._id == userSub.planId && userSub.active != false" (click)="unSubscribe()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
