<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button onclick="history.back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>จัดการกับบัตรเครดิต</ion-title>
    <ion-button slot="end" [routerLink]="'/add-card'">
      เพิ่มบัตรเครดิต
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let card of card_list">
      <ion-label>
        <h4>{{card.brand}}</h4>
        <h5>{{card.name}}</h5>
        <p>เลขชุดสุดท้ายของ Card: {{card.last_digits}}</p>
      </ion-label>
      <ion-buttons>
        <ion-button (click)="attentionCardAction(card.id)">
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <div class="center" *ngIf="card_list.length == 0">
    <h3>ยังไม่มีบัตรเครดิตที่ผูกกับระบบ สามารถเพิ่มได้จาก 'เพิ่มบัตรเครดิต'</h3>
  </div>

</ion-content>
