

  <ion-grid>
    <ion-title color="secondary">สร้างโพสต์ใหม่</ion-title>
    <ion-row>
      <ion-col>
        <ion-textarea 
        placeholder="เขียนข้อความ" 
        rows="3" 
        cols="100" 
        inputmode="text" 
        [(ngModel)]="post_text"
        name="post_detail"
        id="post_detail"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="picture_list != []" id="picture_added_list">
        <ion-item *ngFor="let picture_i of picture_list">
          <ion-thumbnail>
            <img src="{{picture_i}}">
          </ion-thumbnail>
          <ion-buttons><ion-button (click)="removePic(picture_i)">
            <ion-icon name="close-circle-outline" id="remove_pic_btn"></ion-icon>
          </ion-button></ion-buttons>
        </ion-item>
    </ion-row>
    
    <ion-row>
      <ion-col>
      <!-- <form id="uploadForm"></form> -->
      <ion-button type="button" (click)="fileInput.click()">
        อัพโหลดไฟล์รูปภาพ
        <input #fileInput type="file" accept="image/*" (change)="onFileInput($event)" style="display:none;" />
      </ion-button>
      </ion-col>
      <!-- <ion-col>
        <ion-button type="button" (click)="getTestLink()">get AWS link test</ion-button>
      </ion-col> -->
    </ion-row>    
  
    <ion-row>
      <ion-col size="7">
        <ion-searchbar 
        placeholder="ค้นหาแท็ก" 
        debounce="1000" 
        (ionChange)="getTagByName()" 
        [(ngModel)]="searchTagValue"
        id="tag_search_bar"></ion-searchbar>
      </ion-col>
      <!-- <ion-col>
        <ion-button name="createTag">search</ion-button>
      </ion-col> -->
      <ion-col>
        <ion-button (click)="createNewTag()" name="createTag">สร้างแท็กใหม่</ion-button>
        <!-- <ion-text *ngIf=" message_mode == 4" color="warning">มีแท็กนี้อยู่แล้ว</ion-text> -->
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!(tags_list.length === 0)" name="selected_tag">
      <ion-col>
        <ion-text>แท็กที่ถูกเพิ่ม: </ion-text>
        <ion-chip *ngFor="let tag_l of tags_list">
          <!-- <ion-label color="success">{{tag_l.name}}</ion-label> -->
          <ion-label color="success">{{tag_l._id}}</ion-label>
          <ion-buttons><ion-button (click)="removeTag(tag_l)">
            <ion-icon name="close"></ion-icon>
          </ion-button></ion-buttons>
        </ion-chip>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="!(tempTagSearch.length === 0)" name="found_tag">
      <ion-col>
        <ion-text>แท็กที่ใช้ได้: </ion-text>
        <ion-chip *ngFor="let tag_s of tempTagSearch" color="secondary" (click)="addTag(tag_s)">
          <!-- <ion-label color="primary">{{tag_s.name}}</ion-label> -->
          <ion-label color="primary">{{tag_s._id}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-col>
        <h5>สิทธิในการดูผลงาน:</h5>
      </ion-col> -->
      <ion-col col-auto>
        
      <ion-item>
        <ion-label><h4>สิทธิในการดูผลงาน:</h4></ion-label>
        <!-- <ion-segment [(ngModel)]="postBuyMode" (ionChange)="postModeShifter()">
          <ion-segment-button value="0">
            <ion-label>ทุกคน</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1" [disabled]="safetyDisbale">
            <ion-label>subscribe</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2" [disabled]="safetyDisbale">
            <ion-label>คนที่ซื้อโพสต์นี้</ion-label>
          </ion-segment-button>
        </ion-segment> -->

        <ion-select [(ngModel)]="postBuyMode" (ionChange)="postModeShifter()" placeholder="ค่าเริ่มต้น: ทุกคนดูได้" interface="popover">
          <ion-select-option value='0'>
            ทุกคนดูได้
          </ion-select-option>
          <ion-select-option value='1' [disabled]="safetyDisbale">
            เฉพาะคนที่ subscribe
          </ion-select-option>
          <ion-select-option value='2' [disabled]="safetyDisbale">
            เฉพาะคนที่ซื้อโพสต์นี้
          </ion-select-option>
        </ion-select>

        <!-- <ion-toggle color="primary" slot="start" [(ngModel)]="subRequire" id=""></ion-toggle> -->
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row size="10" *ngIf="buyRequire">
      <ion-item>
        <ion-label>ราคาของโพสนี้(บาท):</ion-label>
        <ion-input [disabled]="(!buyRequire)" type="number" min="25" max="1000" [(ngModel)]="postprice"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>เลือกบัญชีที่ใช้ในการรับเงินเข้า</ion-label>
        <ion-select [disabled]="(!buyRequire)" [(ngModel)]="omise_resp_id">
          <ion-select-option *ngFor="let recipient of recipt_list" value="{{recipient.id}}">
            {{recipient.bank_account.bank_code}}:&nbsp;{{recipient.bank_account.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="safetyDisbale">
      <ion-text color="warning">
        <h6>*ต้องสมัครบริการชำระเงิน หรือต้องเพิ่มบัญชีที่ใช้ในการรับเงินเข้าก่อน จึงจะสามารถขายผลงานได้</h6>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-button (click)="onSubmit()" name="postButton" id="postButton">โพสต์</ion-button>
    </ion-row>
  </ion-grid>


