<ion-header>
  <ion-toolbar>
    <ion-button slot="start" [routerLink]="'/account-edit'">
      back
    </ion-button>
    <ion-title>manage-recipt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let recipient of recipt_list">
      <ion-label>
        <h4>{{recipient.bank_account.brand}}</h4>
        <h5>{{recipient.bank_account.name}}</h5>
        <p>เลข 4 หลักสุดท้ายของบัญชี: {{recipient.bank_account.last_digits}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="attentionReciptAction(recipient.id)">
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
