<ion-header>
  <ion-toolbar>
    <ion-title>หน้าการตั้งค่าผู้ใช้/account-edit</ion-title>
    <ion-button fill="outline" [routerLink]="'/password-change'" id="change_pass_btn" slot="end">เปลี่ยนรหัสผ่าน</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="gender" id="select_gender">
      <ion-select-option value="female">Female</ion-select-option>
      <ion-select-option value="male">Male</ion-select-option>
      <ion-select-option value="other">Other</ion-select-option>
      <ion-select-option value="none">Prefer not to say</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
   <!--  <ion-label position="floating">กรอก URL รูปภาพ</ion-label>
    <ion-input type="text" required [(ngModel)]="picture_url" id="user_picture_url"></ion-input> -->
    <ion-button type="button" (click)="fileInput.click()">
      อัพโหลดไฟล์รูปภาพ
      <input #fileInput type="file" accept="image/*" (change)="onFileInput($event)" style="display:none;" />
    </ion-button>
    <!-- <ion-button type="button" (click)="uploadFile(picture_file)">test uploadFile to cloud
    </ion-button> -->
  </ion-item>
  <ion-item *ngIf="picture_file != undefined">
    รูปที่จะใช้เปลี่ยน:
    <ion-thumbnail>
      <img [src]="img1">
    </ion-thumbnail>
    <ion-buttons><ion-button (click)="removePreviewPic()">
      <ion-icon name="close-circle-outline" id="remove_pic_btn"></ion-icon>
    </ion-button></ion-buttons>
  </ion-item>

    <!--  <ion-label position="floating">กรอก URL รูปภาพ</ion-label>
     <ion-input type="text" required [(ngModel)]="picture_url" id="user_picture_url"></ion-input> -->

  <ion-item>
    <ion-label position="floating">คำบรรยายเกี่ยวกับโปรไฟล์:</ion-label>
    <ion-input type="text" [(ngModel)]="firstname"  id="f_name_input"></ion-input>
  </ion-item>

  <ion-item name="interested_tag">
    <ion-text>แท็กที่สนใจ:</ion-text>
    <ion-chip *ngFor="let tag_l of interest_list">
      <ion-label color="success">{{tag_l}}</ion-label>
      <ion-buttons><ion-button (click)="removeTag(tag_l)" slot="end">
        <ion-icon name="close"></ion-icon>
      </ion-button></ion-buttons>
    </ion-chip>
  </ion-item>


  <ion-item>
    <ion-searchbar 
    placeholder="ค้นหาแท็ก" 
    debounce="1000" 
    (ionChange)="getTagByName()" 
    [(ngModel)]="searchTagValue"
    id="tag_search_bar"></ion-searchbar>
    <ion-button slot="end" (click)="createNewTag()" name="createTag">สร้างแท็กใหม่</ion-button>
    <!-- <ion-text *ngIf=" message_mode == 4" color="warning">มีแท็กนี้อยู่แล้ว</ion-text> -->
  </ion-item>


  <ion-item *ngIf="!(tempTagSearch.length === 0)" name="found_tag">
    <ion-label>ผลการค้นหาแท็ก:</ion-label>
    <ion-chip *ngFor="let tag_s of tempTagSearch" color="secondary" (click)="addTag(tag_s)">
      <ion-label color="primary">{{tag_s._id}}</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-label>โหมด creator:</ion-label>
    <ion-toggle [(ngModel)]="create_mode"></ion-toggle>
  </ion-item>

  <ion-accordion-group>
    <ion-accordion value="additional menu">
      <ion-item slot="header">
        <ion-label>เมนูเพิ่มเติม</ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-list>
          <ion-item button (click)="callPaymentServ()">
            <ion-label>จัดการกับระบบ payment</ion-label>
          </ion-item>
          <ion-text color="danger" *ngIf="create_mode || (!false_from_backend)">ต้องปิดโหมด "ผู้สร้าง" (creator mode) ก่อนจึงจะสามารถใช้งานฟังก์ชั่นด้านล่างได้</ion-text>
          <ion-item [disabled]="create_mode || (!false_from_backend)" [button]="true" (click)="deleteAccount()" id="delete_acc_btn">
            <ion-label color="danger">ลบบัญชีนี้ทิ้ง</ion-label>
            <!-- <ion-button color="danger" (click)='deleteAccount()' shape="round" id="delete_acc_btn">ลบบัญชีนี้ทิ้ง</ion-button>
            <ion-button color="danger" (click)='clearAllPost()' shape="round" id="del_all_post_btn">ลบโพสต์ทั้งหมด</ion-button> -->
          </ion-item>
          <ion-item (click)='clearAllPost()' id="del_all_post_btn" [disabled]="create_mode || (!false_from_backend)" [button]="true">
            <ion-label color="danger">ลบโพสต์ทั้งหมด</ion-label>
          </ion-item>

        </ion-list>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
  <br>
  <ion-item lines="none">
    <ion-button fill="outline" (click)="revert()" id="cancel_btn">CANCEL</ion-button>
    <ion-button (click)="updateAll()" id="confirm_edit_btn">บันทึกการแก้ไข</ion-button>
  </ion-item>
  

</ion-content>
