<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button onclick="history.back()"></ion-back-button>
    </ion-buttons>
    <ion-title>account-edit</ion-title>
    <ion-button fill="outline" [routerLink]="'/password-change'" id="change_pass_btn" slot="end">เปลี่ยนรหัสผ่าน</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="gender" id="select_gender">
      <ion-select-option value="female">Female</ion-select-option>
      <ion-select-option value="male">Male</ion-select-option>
      <ion-select-option value="other">Other</ion-select-option>
      <ion-select-option value="none">Prefer not to say</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">กรอก URL รูปภาพ</ion-label>
    <ion-input type="text" required [(ngModel)]="picture_url" id="user_picture_url"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Firstname</ion-label>
    <ion-input type="text" required [(ngModel)]="firstname"  id="f_name_input"></ion-input>
  </ion-item>

  <ion-item name="interested_tag">
    <ion-text slot="start">แท็กที่สนใจ:</ion-text>
    <ion-chip *ngFor="let tag_l of interest_list">
      <ion-label color="success">{{tag_l}}</ion-label>
      <ion-buttons><ion-button (click)="removeTag(tag_l)">
        <ion-icon name="close"></ion-icon>
      </ion-button></ion-buttons>
    </ion-chip>
  </ion-item>


  <ion-item>
    <ion-searchbar 
    placeholder="ค้นหาแท็ก" 
    debounce="1000" 
    (ionChange)="getTagByName()" 
    [(ngModel)]="searchTagValue"
    id="tag_search_bar"></ion-searchbar>
  <!-- <ion-col>
    <ion-button name="createTag">search</ion-button>
  </ion-col> -->
    <ion-button slot="end" (click)="createNewTag()" name="createTag">สร้างแท็กใหม่</ion-button>
    <!-- <ion-text *ngIf=" message_mode == 4" color="warning">มีแท็กนี้อยู่แล้ว</ion-text> -->
  </ion-item>

  <ion-grid>
  <ion-row *ngIf="!(tempTagSearch.length === 0)" name="found_tag">
      <ion-label>ผลการค้นหาแท็ก: </ion-label>
      <ion-chip *ngFor="let tag_s of tempTagSearch" color="secondary" (click)="addTag(tag_s)">
        <ion-label color="primary">{{tag_s._id}}</ion-label>
      </ion-chip>
    </ion-row>
  </ion-grid>

  <ion-button fill="outline" color="warning" (click)="revert()" id="cancel_btn">CANCEL</ion-button>
  <ion-button (click)="updateAll()" id="confirm_edit_btn">บันทึกการแก้ไข</ion-button>

  <ion-item>
    <ion-label>เมนูเพิ่มเติม</ion-label>
    <ion-button color="danger" (click)='deleteAccount()' shape="round" expand="block" id="delete_acc_btn">ลบบัญชีนี้ทิ้ง</ion-button>
    <ion-button color="danger" (click)='clearAllPost()' shape="round" expand="block">ลบโพสต์ทั้งหมด</ion-button>
  </ion-item>

</ion-content>
