<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button onclick="history.back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Account registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-group">
    <ion-item>
      <ion-label position="floating">กรอกชื่อผู้ใช้</ion-label>
      <ion-input placeholder="กรอกอีเมล์" type="email" required [(ngModel)]="email_addr"></ion-input>
    </ion-item>
  <!-- <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
      <ion-button (click)="request_OTP()">send OTP (verify email)</ion-button>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-text *ngIf="sentOTP" color="success">OTP has been sent, Please check your email</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-item>
    <ion-label position="floating">กรอกชื่อผู้ใช้</ion-label>
    <ion-input type="text" required [(ngModel)]="usr_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">กรอกรหัสผ่าน</ion-label>
    <ion-input type="password" required [(ngModel)]="passwd"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ยืนยันรหัสผ่าน</ion-label>
    <ion-input type="password" required [(ngModel)]="conf_pass"></ion-input>
  </ion-item>
  </div>
  <ion-item>
    <ion-label>ฉันยอมรับและตกลงเงื่อนไขในการใช้บริการ</ion-label>
    <ion-checkbox slot="start"[(ngModel)]="agreementAccept"></ion-checkbox>
  </ion-item>
  <ion-button (click)="onSubmit()">ลงทะเบียน</ion-button>
</ion-content>
