<ion-header>
  <ion-toolbar>
    <ion-title>addCard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label>expiration month</ion-label>
    <ion-select [(ngModel)]="expiration_month">
      <ion-select-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="number">{{number}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>expiration year</ion-label>
    <ion-select [(ngModel)]="expiration_year">
      <ion-select-option *ngFor="let number of year_number" [value]="number">{{number}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>ชื่อผู้ถือ card:</ion-label>
    <ion-input type="text" [(ngModel)]="input_card_name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>หมายเลข card:</ion-label>
    <ion-input placeholder="16 digit/16 หลัก" minlength="16" maxlength="16" type="text" [(ngModel)]="input_card_number"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>security code:</ion-label>
    <ion-input placeholder="เลข cvc 3 หลัก" type="number" max="999" [(ngModel)]="input_card_cvc"></ion-input>
  </ion-item>
  <ion-item>
    <ion-text>*รองรับแค่ Visa กับ MasterCard</ion-text>
  </ion-item>

  <ion-button onclick="history.back()">
    กลับหน้าเดิม
  </ion-button>
  <ion-button (click)="onSubmit()">
    เพิ่ม Card
  </ion-button>

</ion-content>
