<ion-header>
  <ion-toolbar>
    <ion-title>account-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)='checkThisUserDetail()'>show this user detail</ion-button>
  <ion-button (click)='checkUser()'>show user logging data</ion-button>
    <ion-card>
      <ion-card-content>
        <ion-img src="{{usr_acc.profile_pic}}"></ion-img>
      </ion-card-content>
      <ion-card-title>
          {{usr_acc.username}}
      </ion-card-title>
      <ion-card-subtitle>
          {{usr_acc.email}}
      </ion-card-subtitle>
    </ion-card>

    <div *ngIf=" usr_acc.createdAt != undefined">
      <ion-label>{{usr_acc.createdAt}}</ion-label>
      <ion-button color="warning" (click)='userLogout()' shape="round" expand="block">logout</ion-button>
      <ion-button color="danger" (click)='deleteAccount()' shape="round" expand="block">delete this account</ion-button>
    </div>
</ion-content>
