<ion-header>
  <ion-title>
    <p>โพสต์นี้ตั้งที่ขายราคา {{sell_price}} บาท</p>
    <h6>หากต้องการซื้อกรุณาเลือกบัตรที่จะใช้ในการชำระเงิน</h6>
  </ion-title>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>บัตรเครดิตที่ใช้ชำระเงิน:</ion-label>
    <ion-select [(ngModel)]="selected_card" placeholder="เลือกบัตรเครดิต">
      <ion-select-option *ngFor="let card of user_card_list" value="{{card.id}}">
        {{card.brand}}: เลข 4 ตัวท้าย: {{card.last_digits}}, {{card.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="onDonate()">
    ซื้อ
  </ion-button>
  <ion-button (click)="DismissClick()" color="danger">
    cancel
  </ion-button>
</ion-content>