#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.title_home{
  // margin-top: 15px;
  //margin-bottom: 15px;

  max-width: 18% !important;
  margin-left: auto;
  margin-right: auto;
}

.title_search{
  // margin-top: 15px;
  //margin-bottom: 15px;

  min-width: 80% !important;
  max-width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}