<ion-grid>
  <ion-row expand="block">
    <ion-col size="6">
      <ion-searchbar 
      placeholder="ค้นหา" 
      debounce="1000" 
      (ionChange)="q_searchJunction()" 
      [(ngModel)]="search_text"
      id="search_bar">
    </ion-searchbar>
    </ion-col>
    <ion-col size="3">
      <ion-segment [(ngModel)]="searchMode" (ionChange)="q_searchJunction()">
        <ion-segment-button value="1">
          <ion-icon name="people"></ion-icon>
          <ion-label>ผู้คน/บัญชี</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-icon name="pricetags"></ion-icon>
          <ion-label>แท็ก</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="(search_text != '') && (searchMode == 1)">
    <ion-list>
      <ion-item *ngFor="let user of tempSearch" (click)="navigateToDetail(user)">
        <ion-label>{{user.username}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-row>
  <ion-row *ngIf="(search_text != '') && (searchMode == 2) ">
    <ion-text>แท็กที่พบ: </ion-text>
      <ion-chip *ngFor="let tag_s of tempSearch" color="secondary">
        <ion-label color="primary">{{tag_s.name}}</ion-label>
      </ion-chip>
  </ion-row>
</ion-grid>