
<ion-content>
  <ion-header>
    <ion-title color="primary">
    <h4>User Menu: {{username}}</h4>
    </ion-title>
  </ion-header>

  <ion-list>
    <ion-item [button]="true" [detail]="false" [routerLink]="'/account-detail/'+ username" id="my_profile_btn" [disabled]="username == user_page_name">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>หน้าโปรไฟล์ของฉัน</ion-label>
    </ion-item>
    <ion-item [button]="true" [detail]="false" (click)="gotoEditPage()" id="edit_profile_btn">
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>จัดการบัญชีผู้ใช้</ion-label>
    </ion-item>
    <ion-item [button]="true" (click)="callPlanList()">
      <ion-icon name="newspaper" slot="start" ></ion-icon>
      <ion-label>จัดการ Plan</ion-label>
    </ion-item>
    <ion-item button (click)="callPaymentServ()">
      <ion-icon name="wallet" slot="start"></ion-icon>
      <ion-label>จัดการกับระบบ Payment</ion-label>
    </ion-item>
    <ion-item [button]="true" [detail]="false" (click)='userLogout()' id="logout_btn">
      <ion-icon name="exit" slot="start"></ion-icon>
      <ion-label>ออกจากระบบ</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
