
<ion-content>
  <ion-header>
    User Menu: {{username}}
  </ion-header>

  <ion-list>
    <ion-item [button]="true" [detail]="false" [routerLink]="'/account-detail/'+username" id="my_profile_btn">
      <ion-label>หน้าหลักของฉัน</ion-label>
    </ion-item>
    <ion-item [button]="true" [detail]="false" (click)="gotoEditPage()" id="edit_profile_btn">
      <ion-label>จัดการบัญชีผู้ใช้</ion-label>
    </ion-item>
    <ion-item [button]="true" (click)="callPlanList()">
      <ion-label>
        จัดการ plan
      </ion-label>
    </ion-item>
    <ion-item [button]="true" [detail]="false" (click)='userLogout()' id="logout_btn">
      <ion-label color="warning">ออกจากระบบ</ion-label>
    </ion-item>
  </ion-list>

<!--   <ion-item>
    <ion-button (click)="gotoEditPage()" shape="round" id="edit_profile_btn">แก้ไขโปรไฟล์</ion-button>
    <ion-button color="warning" (click)='userLogout()' shape="round" id="logout_btn">ออกจากระบบ</ion-button>
  </ion-item> -->
</ion-content>
